h1 {
    display: inline-block;
    padding: 2px;
    margin: 0;
    font-family: Arial;
    font-weight: 200;
}
h2 {
    margin: 0;
    font-family: Arial;
    font-weight: 100;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
nav {
    display: flex;
    width: 100%;
    height: 56px;
    position: relative;
    box-sizing: border-box;
    justify-content: flex-start;
    border: 1px solid blue;
    align-items: center;
    padding: 16px 16px;
    background: aqua;
}
nav a {
    height: fit-content;
    text-decoration: none;
    padding: 1% 1%;
    border: 1px solid black;
    background: #4e5da0;
}

main {
    border: 1px solid red;
    /*min-height: 100%;*/
    /*max-height: 100%;*/
    /*display: flex;*/
    /* change flex-direction from column to row will work */
    /*flex-direction: row;*/
    box-sizing:border-box;
    height: 100%;

}

.main-content {
    width: 100%;
    height: 100%;

}
#sensor-page {
    display: inline-flex;
}

.menu {
    max-width: 200px;
    min-width: 75px;
    width: 30%;
    height: 650px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    grid-auto-rows: 50px;
    background: lightgrey;
    gap: 4px;
    padding: 0 8px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: large;
    text-align: center;
}



.main-page {
    display: grid;
    background: dodgerblue;
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
    grid-template-columns: 1fr 3fr;
    /*grid-template-columns: 1fr 2fr;*/
    /*grid-template-columns: [linename1] 400px [linename2 linename3];*/
    /*grid-template-columns: [linename1] 200px [linename2] repeat(auto-fit, [linename3 linename4] 300px)100px;*/

    /*grid-template-columns: 200px repeat(auto-fill, minmax(300px, 1fr)) 300px;*/
}

.main-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));*/
    justify-content: flex-start;
    width: border-box;
    padding: 1% 1%;
}

.choose-sensor{
    display: flex;
    margin: 0;
    padding: 1px;
    font-family: Arial;
    font-size: medium;
    background-color: #00509e;
}

.choose-sensor p {
    margin: 0;
}

.info-line {
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
    /*width: 100%;*/
    display: inline-flex;
    /*justify-content: center;*/
    align-items:center
}

.info-text {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90px;

}

.info-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    border: solid black;
    background: #7AD661;
    height: 25px;
    text-align: center;
    margin: 2px;
}
.timestamp {
    display: inline-flex;
    /*justify-content: center;*/
    align-items: center;
    width: 75px;
    /*border: solid black;*/
    /*background: #7AD661;*/
    height: 25px;
    text-align: left;
    margin: 2px;
    font-size: x-small;
}
.graph-window {
    /*display: flex;*/
    /*width: 100%;*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}
.graph {
    /*width: 100%;*/
    /*height: 400px;*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1.0);
    border-left: 1px solid rgba(240, 240, 240, 1.0);
    border-bottom: 2px solid rgba(240, 240, 240, 1.0);
    height: 90%;
    width: 90%;
    position: relative;
}
#log-length {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.log-type p{
    margin: 0;
    padding: 2px 2px;
}
.log-type label {
    margin: 2px;
}
.log-type input {
    margin: 2px;

}

#time-picker {
    display: inline-flex;
}